{% extends "bases/form.html" %}

{% block form_groups %}
<div class="form-group">
	<label for="id_name">Name</label>
	{{ form.name }}
</div>
<div class="form-group">
	<label for="id_description">Description</label>
	{{ form.description }}
</div>
<div class="form-group">
	<label for="id_price">Price</label>
	{{ form.price }}
</div>
<div class="form-group">
	<label for="id_available">Available</label>
	{{ form.available }}
</div>
<div class="form-group">
	<label for="id_category">Category</label>
	{{ form.category }}
</div>
{% endblock form_groups %}
{% block cancel_url %}{% url 'products:all' %}{% endblock cancel_url %}